<form #loginForm="ngForm" (ngSubmit)="login(username.value, password.value)">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input
      matInput
      #username
      required
      [(ngModel)]="username.value"
      name="username"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      matInput
      #password
      type="password"
      required
      [(ngModel)]="password.value"
      name="password"
    />
  </mat-form-field>

  <button mat-raised-button type="submit">Login</button>
</form>

<!-- Debugging flags -->
<pre>Status: {{ loginForm.status }}</pre>
<pre>Submitted: {{ loginForm.submitted }}</pre>
